@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap');


.cards{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    .shop-item{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        background: #fffaf5;
        border-radius: 15px;
        width: 280px;
        &-img{
            text-align: center;
            position: relative;
            z-index: 1;
            img{
                border-radius: 10px;
                width: 200px;
            }
            .shop-item-meta{
                position: absolute;
                overflow: hidden;
                transition: all .5s ease-in-out;
                height: 100%;
                .links{
                    position: absolute;
                    top: 50px;
                    right: -40%;
                }
                .heart{
                    font-size: 18px;
                }
                button{
                    cursor: pointer;
                    border: none;
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 43px;
                    border-radius: 10px;
                    text-align: center;
                    background: #fff;
                    color: #2f4f4f;
                    margin-bottom: 15px;
                    font-size: 18px;
                    border: 2px solid #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                button:hover{
                    background-color: transparent;
                    border: 2px solid #fff;
                    color:#fff;
                    transition: all 0.2s linear 0s;

                    
                }
            }
        }
     
        .shop-item-info{
            padding-top: 10px;
            padding-bottom: 20px;
            text-align: center;
            .shop-item-rate{
                color: #FAB319;
                margin-bottom: 5px;
            }
            a{
                text-decoration: none;
            }
            .shop-item-title{
                padding: 10px 0;
                font-size: 20px;
                color: #2f4f4f;
                // transition: all .5s ease-in-out;
            }
            .shop-item-price{
                font-size: 20px;
                color: #2f4f4f;
                font-weight: 700;
                margin-top: 5px;
            }
        }
    }
    
    
    .shop-item:hover .shop-item-meta{
        content: "";
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        position: absolute;
        border-radius: 10px;
        opacity: 1;
        background: rgba(47, 79, 79, 0.8);
        z-index: 2;
        transform: scale(0.9);
        transition: all 0.3s linear 0s;
        
    }
    .shop-item:hover .shop-item-meta .links{
        transition: all 0.4s linear 0s;
        right: 8%;
    }
}
