@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,500;1,700&family=Sofia&display=swap');

.user-profile{
    padding: 100px 0 30px;
    &-container{
        width: 80%;
        margin: 0 auto;
        .box{
        background-color: #fffaf5;
        color: #2f4f4f;
        }
    }
    .tabs{
        width: 20%;
        padding-top: 24px;
    }
    .MuiTab-root{
        background-color:  rgba(45, 146, 186, 0.2);
        margin-bottom: 10px;
        border-radius: 15px;
    }
    .MuiTab-root:hover{
        background-color: #2f4f4f;
        color: #fffaf5;
    }
    .Mui-selected{
        background-color:  #2f4f4f;
        border-radius: 15px;
        outline: none;
        color: #fffaf5 !important;
    }
    .MuiTabs-indicator{
        background-color:  rgba(45, 146, 186, 0.2);
    }
    .MuiTabs-vertical{
        border-right: none;
    }
    .tabpanel{
        width: 80%;
    }
    .user-panel{
        // padding: 8px 0;
        .user-detail-container{
            width: 100%;
            .user-detail{
                width: 400px;
                padding: 40px 30px;
                margin: 0 auto;
                background-color: rgba(45, 146, 186, 0.2);; ;
                border: 2px solid  rgba(45, 146, 186, 0.2);;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                &-img{
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    img{
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                    }
                }
                &-info{
                    color: #2f4f4f;
                    .user-name{
                        padding: 10px 0;
                        text-align: center;
                        h3{
                            font-size: 25px;
                        }
                    }
                    .user-email{
                        text-align: center;
                        h4{
                            font-size: 22px;
                        }
                    }
                }

            }
        }
        
    }
}