.users{
    .table{
        background-color: #fffaf5;
        .MuiTableCell-root{
            padding: 10px;
            font-size: 17px;
            color: #2f4f4f;
            button{
                padding: 12px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                color: #2f4f4f;
                font-weight: 700;
                border-radius: 8px;
                // background: rgba(47, 79, 79, 0.2);
                background-color: #d5e5e9;
            }
            button:hover{
                background: #2f4f4f;
                color: #fffaf5;
            }
            #delete{
                border: 1px solid #E53935;
                background-color:#fffaf5 ;
                color: #E53935;
                transition: background-color 0.3s ease;
            }
            #delete:hover{
                color: #fffaf5;
                background: #E53935;
            }
        }
        
    }
}