@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,500;1,700&family=Sofia&display=swap");
@import '../../assets/sass/abstracts/variables.scss';
.feedback {
  display: flex;
  width: 90%;
  // height: 80vh;
  margin: 0 auto;
  padding: 15px 0;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: "Raleway", sans-serif;
  &-left {
    width: 50%;
    // height: 100%;
    text-align: center;
    img {
      width: 500px;
      height: 500px;
    }
  }
  &-right {
    width: 50%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    &-top {
      h3 {
        font-size: 25px;
        color: #2d92ba;
        font-family: "Sofia", cursive;
        font-weight: 500;
      }
    }
    &-center {
      h2 {
        font-size: 36px;
        width: 400px;
        font-weight: 700;
        padding: 20px 0;
        line-height: 40px;
      }
      span {
        color: #2d92ba;
      }
    }
    &-bottom {
      .slider-box {
        padding-bottom: 30px;
        &-top {
          text-align: justify;
          font-size: 18px;
          line-height: 30px;
        }
        &-bottom {
          display: flex;
          align-items: center;
          padding: 10px 0;
          .slider-box-avatar {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
          .slider-box-costumer {
            padding: 0 20px;
            p {
              font-size: 20px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

@media(max-width: $tablet-breakpoint){
  .feedback {
  
    &-left {
      img {
        width: 450px;
        height: 450px;
      }
    }
    &-right {
    
      
      &-center {
        h2 {
          font-size: 28px;
          width: 300px;
         
        }
       }
      }
  }
}
@media(max-width: 1110px){
  .feedback {
  
    &-left {
      img {
        width: 400px;
        height: 400px;
      }
    }
    &-right {
    
     .slider-box{
      &-top{
        p{
          font-size: 16px;
          line-height: 25px;
        }
      }
      
     } 
    }

  }
}
@media(max-width: 1110px){
  .feedback {
  
    &-left {
      display: none;
    }
    &-right {
      padding: 15px;
      width: 100%;
    
     .slider-box{
      &-top{
        p{
          font-size: 20px;
          line-height: 26px;
        }
      }
      
     } 
     &-center {
      h2 {
        padding: 15px 0;
        font-size: 36px;
        width: 100%;       
      }
     }
    }
    

  }
}
@media(max-width: 670px){
  .feedback {
    &-right {
      padding: 10px;
    
     .slider-box{
      &-top{
        p{
          font-size: 17px;
          line-height: 26px;
        }
      }
      
     } 
     &-center {
      h2 {
        font-size: 30px;
}
     }
    }
    

  }
}
@media(max-width: 575px){
  .feedback {
    &-right {
    
     .slider-box{
      &-top{
        p{
          font-size: 17px;
          line-height: 26px;
        }
      }
      
     } 
     &-center {
      h2 {
        padding: 10px 0;

        font-size: 25px;
       
}
     }
    }
    

  }
}