@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,500;1,700&family=Sofia&display=swap');

.forgot-password{
    font-family: 'Raleway', sans-serif;
    background-color: #fffaf5;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    &-container{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        border-radius: 10px;
        .forgot-password-page-title{
            text-align: center;
            font-size: 40px;
            padding-bottom: 20px;
            font-weight: 700;
            color: #3e4348;
        }
        .forgot-password-page-content{
            padding: 15px 0;
            text-align: center;
            background-color: #cac9c9;
            border-radius: 20px;
            p{
                width: 480px;
                color: #3e4348;
                line-height: 20px;
            }
        }
        .forgot-password-page-bottom{
            padding-top: 20px;
            .form{
                .form-group{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    label{
                        color: #7c7d80;
                        padding-bottom: 10px;
                        font-weight: 600;
                    }
                    input{
                        
                        height: 48px;
                        padding: 5px 15px;
                        font-size: 16px;
                        outline: none;
                        border-radius: 5px;
                        border: 1px solid #7c7d80 ;
                    }
                    padding-bottom: 20px;

                }

                .btn{
                    padding: 20px 0 0;
                    display: flex;
                    justify-content: center;
                    button{
                        cursor: pointer;
                        width: 300px;
                        height: 48px;
                        font-weight: 700;
                        font-size: 18px;
                        color: #fff;
                        background-color: #2f4f4f;
                        border: none;
                        border-radius: 20px;
                        padding: 10px;
                    }
                }
                .links{
                    display: flex;
                    justify-content: space-around;
                    a{
                        color: #2f4f4f;
                    }
                    a:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}